<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        eikhane player profile er details ashebe and niche ekta add button thakbe. oita te click korte add hobe. jodi successfully
        add korte pare then success msg ashbe ar jodi kuno player already exist kore onno kuno team e
        then show korbe je she onno team e ase already.
    </body>
</html>