<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teamManagement/managerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Home </title>

    </head>

    <body>

        <section class="container text-center">

            <h1 style="margin-bottom: 10%;">Total result analysis </h1>

            <div class="pieID pie">

            </div>

            <ul class="pieID legend" style="margin-top: 35px; margin-left: 30px;">

                <li>
                    <em> Looses </em>
                    <span>531</span>
                </li>
                <li>
                    <em> Wins </em>
                    <span>868</span>
                </li>
                <li>
                    <em> Drawn </em>
                    <span>718</span>
                </li>

                <li>
                    <em> Canceled </em>
                    <span>344</span>
                </li>

            </ul>


            <div class="card">
                <p class="card-title">Our Moto </p>

                <div class="card-body">
                    <p class="card-text">We will play every game with our highest effort and no matter what the result comes.</p>
                </div>
            </div>

        </section>

    </body>
</html>