<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teamManagement/managerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <title>CodePen - Adjustable Pie Chart</title>

    </head>

    <body>
    <!-- partial:index.partial.html -->

        <section>

            <h1>HTML Pie Chart</h1>
            <p>Change the number values in the html.</p>

            <div class="pieID pie">

            </div>

            <ul class="pieID legend">
                <li>
                    <em>Humans</em>
                    <span>718</span>
                </li>
                <li>
                    <em>Dogs</em>
                    <span>531</span>
                </li>
                <li>
                    <em>Cats</em>
                    <span>868</span>
                </li>
                <li>
                    <em>Slugs</em>
                    <span>344</span>
                </li>
                <li>
                    <em>Aliens</em>
                    <span>1145</span>
                </li>
            </ul>
        </section>


    </body>
</html>
