<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="teamManagement/managerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <section>

            <div class="teamCode">
                <div class="form-group col-md-7">
                    <label class="text-center"> Player ID </label>
                    <input name="playerId" type="text" class="form-control" id="playerId" placeholder="player id">
                    <button class="btn btn-success" style="margin-top: 10px;"> Search player </button>
                </div>

            </div>

        </section>
    </body>
</html>