<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="player/playerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <section>

            <form class="profileDiv">

                    <div class="form-group col-md-6">
                        <label for="teamName">Name</label>
                        <input type="text" class="form-control" id="teamName" placeholder="Name">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control" id="email" placeholder="email">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="establish_date"> Age </label>
                        <input type="text" class="form-control" id="establish_date" placeholder="age">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="playerType"> Player Type </label>
                        <input type="text" class="form-control" id="playerType" placeholder="batsman/bowler">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="total_Run"> Total Run </label>
                        <input type="text" class="form-control" id="total_Run" placeholder="total run">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="total_wickets"> Total wickets </label>
                        <input type="text" class="form-control" id="total_wickets" placeholder="total wickets">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="best_run"> Best Run </label>
                        <input type="text" class="form-control" id="best_run" placeholder="best run">
                    </div>


                    <div class="form-group col-md-6">
                        <label for="best_bowling"> Best bowling figure </label>
                        <input type="text" class="form-control" id="best_bowling" placeholder="best bowling figure">
                    </div>


                    <div class="form-group col-md-12">
                        <label for="playedFor"> Played For </label>
                        <input type="text" class="form-control" id="playedFor" placeholder="teams you have played for">
                    </div>

                    <div class="teamProfileSubmit-btn-div">
                        <button type="submit" class="btn btn-success col-md-12 teamProfileSubmit-btn"> Update and Save </button>
                    </div>

            </form>


        </section>
    </body>
</html>