<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

    <head>
        <meta charset="UTF-8">
        <title> Player </title>


        <!-- side navbar er template er css -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'><link rel="stylesheet" href="./style.css">


        <!-- sideNav CSS -->
        <link rel="stylesheet" th:href="@{/css/sideNav.css}">


        <!-- javaScript for loggedIn user name (ei file er moddhe je function ta ase eta ei base file er body te call korsi onload e)-->
        <script type="text/javascript" src="/js/find_LoggedInName.js"> </script>


        <!-- Custom js for whole player-->
        <script type="text/javascript" src="/js/style.js"> </script>

        <!-- Custom css for whole player-->
        <link rel="stylesheet" href="/css/player.css">


        <!-- Custom CSS for table -->
        <link rel="stylesheet" href="/css/tableStyle.css">



    </head>

    <body th:onload="'currentUserName()'">

        <div id="viewport">

            <!-- Sidebar -->
            <div id="sidebar">
                <header>
                    <p href="#">My Team</p>
                </header>

                <ul class="nav" style="margin-top: 85%;">
                    <li> <a th:onclick="'highlight(\'' +home+ '\');'" id="home" th:href="@{/player/playerHome}"> <i class="zmdi zmdi-home zmdi-hc-fw"></i> Home </a> </li>
                    <li> <a th:onclick="'highlight(\'' +best11+ '\');'" id="best11" th:href="@{/player/best11}"> <i class="zmdi zmdi-star"></i> Best11 </a> </li>
                    <li> <a th:onclick="'highlight(\'' +allPlayers+ '\');'" id="allPlayers" th:href="@{/player/allPlayers}"> <i class="zmdi zmdi-accounts"></i> All players </a> </li>
                    <li> <a th:onclick="'highlight(\'' +availability+ '\');'" id="availability" th:href="@{/player/availability}"> <i class="zmdi zmdi-comment-text"></i> Availability </a> </li>
                </ul>

                <ul class="nav">
                    <li> <a th:href="@{/logout}" id="logout"> <i class="zmdi zmdi-key"></i> <button class="btn btn-success"> Logout </button> </a> </li>
                </ul>

            </div>


            <!-- Content -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li> <a th:href="@{player/playerProfile}"> <i class="zmdi zmdi-notifications text-success"> </i> <span id="currentLoggedInUserName"> </span> </a> </li>
                        </ul>
                    </div>
                </nav>

                <div th:replace="${content}"> </div>
            </div>

        </div>


    </body>

</html>







