<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="player/playerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Home </title>

    </head>

    <body>

        <section>
            <div>
                You are in the 15 members team but we are extremely sorry to inform you that you are not selected in the best 11 members
                because of team combination. Hope we you get a chance soon. Best of luck!
            </div>

            <br> or <br> <br>

            <div>
                Congratulations, You have been selected in the best 11 members and you are going to play the next match. Hope you will play your best and
                wish you best of luck!
            </div>


        </section>


    </body>
</html>