<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

    <head>
        <meta charset="UTF-8">
        <title> Player base </title>


        <!-- side navbar er template er css -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'><link rel="stylesheet" href="./style.css">


        <!-- sideNav CSS -->
        <link rel="stylesheet" th:href="@{/css/sideNav.css}">


        <!-- javaScript for loggedIn user name (ei file er moddhe je function ta ase eta ei base file er body te call korsi onload e)-->
        <script type="text/javascript" src="/js/find_LoggedInName.js"> </script>


        <!-- Custom js -->
        <script type="text/javascript" src="/js/style.js"> </script>

    </head>

    <body th:onload="'currentUserName()'">

        <div id="viewport">

            <!-- Sidebar -->
            <div id="sidebar">
                <header>
                    <a href="#">My Team</a>
                </header>

                <ul class="nav" style="margin-top: 85%;">
                    <li id="home"> <a th:onclick="'highlight()'"  href="#"> <i class="zmdi zmdi-view-dashboard"></i> Home </a> </li>
                    <li> <a th:onclick="'highlight()'" id="best11" href="#"> <i class="zmdi zmdi-link"></i> Best11 </a> </li>
                    <li> <a th:onclick="'highlight()'" id="allPlayers" href="#"> <i class="zmdi zmdi-widgets"></i> All players </a> </li>
                    <li> <a th:onclick="'highlight()'" id="availability" href="#"> <i class="zmdi zmdi-settings"></i> Availability </a> </li>
                </ul>

                <ul class="nav">
                    <li> <a th:href="@{/logout}" id="logout"> <button class="btn btn-success"> Logout </button> </a> </li>
                </ul>

            </div>


            <!-- Content -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav navbar-right">
                            <li> <a href="#"> <i class="zmdi zmdi-notifications text-success"> </i> <span id="currentLoggedInUserName"> </span> </a> </li>
                        </ul>
                    </div>
                </nav>

                <div th:replace="${content}"> </div>
            </div>

        </div>

    </body>

</html>







