<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="player/playerBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <section>

            <form class="profileDiv">

                    <div class="form-group col-md-6">
                        <label for="teamName">Team Name</label>
                        <input type="email" class="form-control" id="teamName" placeholder="Email">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email"> Email </label>
                        <input type="email" class="form-control" id="email" placeholder="email">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="establish_date">Establish Date</label>
                        <input type="text" class="form-control" id="establish_date" placeholder="date">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="total_player"> Total players </label>
                        <input type="text" class="form-control" id="total_player" placeholder="total players">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="teamMoto"> Team moto </label>
                        <input type="text" class="form-control" id="teamMoto" placeholder="team moto">
                    </div>

                    <div class="teamProfileSubmit-btn-div">
                        <button type="submit" class="btn btn-success col-md-12 teamProfileSubmit-btn"> Update and Save </button>
                    </div>

            </form>


        </section>
    </body>
</html>