<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="authority/authorityBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="container">
                this is authority home. eikhane tournament off kora jabe and tournament live kora jabe.
                tournament live thakle off option ta ashbe ar off thakle live korar option ta ashbe.
            </div>
        </section>
    </body>
</html>