<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="authority/authorityBase::layout(~{::section})">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <section>
            <div class="container mt-5">

                <ul>
                    <li> start date and end date diye "live tournament e click korlei oita player and team er profile e notification chole jabe. </li>
                    <li> ekbar live kore dile then just "stop tournament" button ashbe. oita te click kore tournament off kora jabe. </li>
                    <li> ar off kora thakle abar start button ashbe. emne manage korbo in shaa allah. </li>
                </ul>

            </div>
        </section>
    </body>
</html>