body{
    /*background: #e2e2e2 !important;*/
    /*background: #809a98 !important;*/
}

.my-card{
    padding-top: 70px;
    padding-left: 20px;
    padding-bottom: 50px;
    padding-right: 20px;
    border-radius: 10px;
    background: #E0E0E0;
}

.my-card .heading{
    padding-bottom: 50px;
}


/* team code css */
.teamCode{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 250px;
    margin-top: 300px;
}



/* team profile css */

.profileDiv{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 60px;
    margin-top: 250px;
}

.teamProfileSubmit-btn-div{
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 300px;
}

.teamProfileSubmit-btn{
    margin-top: 40px;
}


/* tournament details */

#tournamentDetail img{
    height: 300px;
    width: 500px;
    border-radius: 5px;
}

#tournamentDetail .title{
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
}

.tournamentAnnouncement{
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}

/*#tournamentDetail button{*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    height: 10px;*/
/*    width: 20px;*/
/*}*/