/* player profile css */

.profileDiv{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 60px;
    margin-top: 250px;
}

.teamProfileSubmit-btn-div{
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 300px;
}

.teamProfileSubmit-btn{
    margin-top: 40px;
}
